<h2>Регистрация:</h2>

<form action="/registr" method="POST">
  <input type="text" placeholder="Login" name="login">
  <br>
  <br>

  <input type="text" placeholder="Email" name="email">
  <br>
  <br>

  <input type="text" placeholder="Password" name="password">
  <br>
  <br>

  <input type="submit" value="Register">
</form>

